<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <BOESystems><![CDATA[<?xml version="1.0" encoding="utf-16"?><ArrayOfCoBoeSystemInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />]]></BOESystems>
  <AllowInsecureConnections value="Yes" />
  <UsageDataPauseDate value="6/4/2020" />
  <FailedPingCounter value="2" />
</configuration>